/* 
LAYOUT: Frame
@name layout-frame
@description The Frame is mostly useful for cropping media (videos and images) to a desired aspect ratio.
@link https://every-layout.dev/layouts/frame/

--- CSS VARIABLES ---
 
@var --frame-ratio
@default 16 / 9
@description The aspect ratio for the frame layout; should be a valid `aspect-ratio` value.

--- USAGE ---

@example Default. Image is displayed in 16:9 ratio.

<layout-frame>
  <img src="/path/to/image" alt="description of the image here" />
</layout-frame> 

@example Override CSS variable values with style attribute. Image is displayed as a square.

<layout-frame style="--frame-ratio: 1;">
  <img src="/path/to/image" alt="description of the image here" />
</layout-frame>

*/
layout-frame {
  --frame-ratio: 16 / 9;
  aspect-ratio: var(--frame-ratio);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

layout-frame > img,
layout-frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}
