
/* 
LAYOUT: Imposter
@name layout-imposter
@description Wherever content needs to be deliberately obscured, the Imposter pattern is your friend. It may be that the content is yet to be made available. In which case, the Imposter may consist of a call-to-action to unlock that content.
@link https://every-layout.dev/layouts/imposter/

--- CSS VARIABLES ---
 
@var --imposter-position
@default absolute
@values absolute | fixed
@description The aspect ratio for the frame layout; should be a valid `aspect-ratio` value.

@var --imposter-margin
@default 1rem
@description The margin/space between the element and the inner edges of the positioning container; should use `rem` unit.

--- PROPS ---

@prop contain
@description

--- USAGE ---

@example Default.

<layout-imposter>
  <img src="/path/to/image" alt="description of the image here" />
</layout-imposter> 

@example Override CSS variable values with style attribute.

<layout-imposter style="--imposter-position: fixed;">
  <img src="/path/to/image" alt="description of the image here" />
</layout-imposter>

@example Imposter layout will be contained within the positioning container (when `absolute`), or viewport (when `fixed`). This allows for the user to be able to scroll the content into view if longer than the visible space.

<layout-imposter contain>
  <img src="/path/to/image" alt="description of the image here" />
</layout-imposter> 

*/
layout-imposter {
  --imposter-position: absolute;
  --imposter-margin: 1rem;
  position: var(--imposter-position);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

layout-imposter[contain] {
  overflow: auto;
  max-inline-size: calc(100% - (var(--imposter-margin) * 2));
  max-block-size: calc(100% - (var(--imposter-margin) * 2));
}

